{% extends 'base.html' %}

{% block title %}
Lista Empleados por Departamento
{% endblock title %}

{% block content %}
    {% include "includes/header.html" %}
    <div class="grid-container">
        <div class="grid-x">
            <h1 class="cell">Lista Empleados por Departamento</h1>
        </div>
        <div class="cell">
            <table>
                <thead>
                  <tr>
                    <th width="150">ID</th>
                    <th width="150">NOMBRES</th>
                    <th width="150">APELLIDOS</th>
                    <th width="150">DEPARTAMENTO</th>
                    <th width="150">ACCION</th>
                  </tr>
                </thead>
                <tbody>
                    {% for e in empleados %}
                        <tr>
                            <td>{{e.id}}</td>
                            <td>{{e.name}}</td>
                            <td>{{e.last_name}}</td>
                            <td>{{e.departamento}}</td>
                            <td><a class="button warning" href="{% url 'persona_app:empleado_detail' e.id %}">Ver</a></td>
                        </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
    </div>

{% endblock content %}
