{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}">
    </head>
    <body>
        <h1 class="ejemplo1">Pruebas</h1>
        <h2 class="ejemplo2">Cargar</h2>
        <!-- Anchors (links) -->
        <a href="about.html" class="button">Learn More</a>
        <a href="#features" class="button">View All Features</a>

        <!-- Buttons (actions) -->
        <button class="submit success button">Save</button>
        <button type="button" class="alert button">Delete</button>
    </body>
</html>